<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300761456053-dja3hmk2ijfd9pk054149rkrkok3hjod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300761456053-dja3hmk2ijfd9pk054149rkrkok3hjod</string>
	<key>API_KEY</key>
	<string>AIzaSyAU_k8xPvlYO7FkUXcGoyUcMbUKvmOV1pk</string>
	<key>GCM_SENDER_ID</key>
	<string>300761456053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.theburgeon.flow</string>
	<key>PROJECT_ID</key>
	<string>the-burgeon-flow</string>
	<key>STORAGE_BUCKET</key>
	<string>the-burgeon-flow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300761456053:ios:7a49f5c220d7df111e0dfc</string>
</dict>
</plist>